.font-Poppins{
    font-family: "Poppins", sans-serif;
}
.font-Anton{
    font-family: "Anton", sans-serif;
}
.bg-images{
    background-image: url('../images/background.png');
}
.btn2{
    background-color: white;
    border-radius: 12px;
   height: 4rem;
   width: 15rem;
}
.btn2:hover{
    background-color: antiquewhite;
}
.play-bg{
box-sizing: border-box;
border: 0.5px solid rgba(255, 255, 255, 0.2);
border-radius: 16px;
background: linear-gradient(136.67deg, rgba(255, 255, 255, 0.56) 0%,rgba(152, 151, 151, 0) 102.037%);
}